.counter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    background-image: url(https://www.shutterstock.com/image-photo/orange-hand-tally-counter-counting-260nw-136742222.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-color: rgb(195, 248, 148);
    height: 340px;
    border: 2px solid red;
}
 
.counter h1 {
    margin-top: 20px;
    color: rgb(16, 0, 54);
    font-size: 40px;
    text-decoration: underline;
    font-family: cursive;
}
 
.counter__output {
    font-size: 40px;
    color: rgb(116, 7, 7);
}
 
.btn__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
 
.control__btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 2px solid rgb(16, 0, 54);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
 
.control__btn:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(16, 0, 54);
}
 
.reset {
    width: 100px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(241, 31, 35);
    border: 2px solid rgb(16, 0, 54);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
.reset:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}
